$main-font: "roboto";
$primary-color: #926a6a;
$secondary-color: #ffffff;

$card-ratio: 0.644; //calc(661 / 1028);
$board-ratio: calc(2000 / 381);
$main-font: "roboto";

$trees_start: 1;
$wCards_start: 67;
$hCards_start: 70;
$vCards_start: 114;
$total_cards: 161;
